{% extends 'base.html.twig' %}

{% block title %}New Bilanmodule{% endblock %}

{% block body %}
    <h1>Create new Bilanmodule</h1>

    {{ include('bilanmodule/_form.html.twig') }}

    <a href="{{ path('app_bilanmodule_index') }}">back to list</a>
{% endblock %}
